/**
* The following styles get applied both on the front of your site
* and in the editor.
*
* Replace them with your own styles or remove the file completely.
*/

/* -- Background Overlay
--------------------------------------------- */

.section-background-image__toggle {
	box-shadow: inset 0 0 0 1px #007cba;
	outline: 1px solid transparent;
	white-space: nowrap;
	color: #007cba;
	background: transparent;
	display: block;
	width: 100%;
}

.wp-block-oleti-section {
	transition: 0.2s ease-out;
	transition-property: margin, padding;
	position: relative;
	background-size: cover;
	background-position: 50%;
	display: flex;
}

.wp-block-oleti-section.has-parallax {
	background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling:touch) {

	.wp-block-oleti-section.has-parallax {
		background-attachment: scroll;
	}

}

@media (prefers-reduced-motion: reduce) {

	.wp-block-oleti-section.has-parallax {
		background-attachment: scroll;
	}

}

.wp-block-oleti-section.has-background-overlay::before {
	content: "";
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	z-index: 1;
}

.wp-block-oleti-section.has-background-overlay-10::before {
	opacity: 0.1;
}

.wp-block-oleti-section.has-background-overlay-20::before {
	opacity: 0.2;
}

.wp-block-oleti-section.has-background-overlay-30::before {
	opacity: 0.3;
}

.wp-block-oleti-section.has-background-overlay-40::before {
	opacity: 0.4;
}

.wp-block-oleti-section.has-background-overlay-50::before {
	opacity: 0.5;
}

.wp-block-oleti-section.has-background-overlay-60::before {
	opacity: 0.6;
}

.wp-block-oleti-section.has-background-overlay-70::before {
	opacity: 0.7;
}

.wp-block-oleti-section.has-background-overlay-80::before {
	opacity: 0.8;
}

.wp-block-oleti-section.has-background-overlay-90::before {
	opacity: 0.9;
}

.wp-block-oleti-section.has-background-overlay-100::before {
	opacity: 1;
}


.wp-block-oleti-section::after {
	display: block;
	content: "";
	font-size: 0;
	min-height: inherit;
}

@supports ((position: -webkit-sticky) or (position:sticky)) {

	.wp-block-oleti-section::after {
		content: none;
	}

}

.wp-block-oleti-section .wp-block-oleti-section__inner-container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

.wp-block-oleti-section__video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
}

/* -- 	BlockAlignmentMatrixToolbar
--------------------------------------------- */

.wp-block-oleti-section-image.is-position-top-left,
.wp-block-oleti-section.is-position-top-left {
	align-items: flex-start;
	justify-content: flex-start;
}

.wp-block-oleti-section-image.is-position-top-center,
.wp-block-oleti-section.is-position-top-center {
	align-items: flex-start;
	justify-content: center;
}

.wp-block-oleti-section-image.is-position-top-right,
.wp-block-oleti-section.is-position-top-right {
	align-items: flex-start;
	justify-content: flex-end;
}

.wp-block-oleti-section-image.is-position-center-left,
.wp-block-oleti-section.is-position-center-left {
	align-items: center;
	justify-content: flex-start;
}

.wp-block-oleti-section-image.is-position-center-center,
.wp-block-oleti-section.is-position-center-center {
	align-items: center;
	justify-content: center;
}

.wp-block-oleti-section-image.is-position-center-right,
.wp-block-oleti-section.is-position-center-right {
	align-items: center;
	justify-content: flex-end;
}

.wp-block-oleti-section-image.is-position-bottom-left,
.wp-block-oleti-section.is-position-bottom-left {
	align-items: flex-end;
	justify-content: flex-start;
}

.wp-block-oleti-section-image.is-position-bottom-center,
.wp-block-oleti-section.is-position-bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.wp-block-oleti-section-image.is-position-bottom-right,
.wp-block-oleti-section.is-position-bottom-right {
	align-items: flex-end;
	justify-content: flex-end;
}

.wp-block-oleti-section-image.has-custom-content-position.has-custom-content-position .wp-block-oleti-section__inner-container,
.wp-block-oleti-section.has-custom-content-position.has-custom-content-position .wp-block-oleti-section__inner-container {
	margin: 0;
	width: auto;
}
