/**
* The following styles get applied both on the front of your site
* and in the editor.
*
* Replace them with your own styles or remove the file completely.
*/

/* -- Extra Small Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-extra-small {
	padding-top: 15px;
}

.wp-block-oleti-section.padding-right-extra-small {
	padding-right: 15px;
}

.wp-block-oleti-section.padding-bottom-extra-small {
	padding-bottom: 15px;
}

.wp-block-oleti-section.padding-left-extra-small {
	padding-left: 15px;
}

.wp-block-oleti-section.margin-top-extra-small {
	margin-top: 15px;
}

.wp-block-oleti-section.margin-bottom-extra-small {
	margin-bottom: 15px;
}

/* -- Small Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-small {
	padding-top: 30px;
}

.wp-block-oleti-section.padding-right-small {
	padding-right: 30px;
}

.wp-block-oleti-section.padding-bottom-small {
	padding-bottom: 30px;
}

.wp-block-oleti-section.padding-left-small {
	padding-left: 30px;
}

.wp-block-oleti-section.margin-top-small {
	margin-top: 30px;
}

.wp-block-oleti-section.margin-bottom-small {
	margin-bottom: 30px;
}

/* -- Normal Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-normal {
	padding-top: 45px;
}

.wp-block-oleti-section.padding-right-normal {
	padding-right: 45px;
}

.wp-block-oleti-section.padding-bottom-normal {
	padding-bottom: 45px;
}

.wp-block-oleti-section.padding-left-normal {
	padding-left: 45px;
}

.wp-block-oleti-section.margin-top-normal {
	margin-top: 45px;
}

.wp-block-oleti-section.margin-bottom-normal {
	margin-bottom: 45px;
}

/* -- Medium Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-medium {
	padding-top: 60px;
}

.wp-block-oleti-section.padding-right-medium {
	padding-right: 60px;
}

.wp-block-oleti-section.padding-bottom-medium {
	padding-bottom: 60px;
}

.wp-block-oleti-section.padding-left-medium {
	padding-left: 60px;
}

.wp-block-oleti-section.margin-top-medium {
	margin-top: 60px;
}

.wp-block-oleti-section.margin-bottom-medium {
	margin-bottom: 60px;
}

/* -- Large Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-large {
	padding-top: 75px;
}

.wp-block-oleti-section.padding-right-large {
	padding-right: 75px;
}

.wp-block-oleti-section.padding-bottom-large {
	padding-bottom: 75px;
}

.wp-block-oleti-section.padding-left-large {
	padding-left: 75px;
}

.wp-block-oleti-section.margin-top-large {
	margin-top: 75px;
}

.wp-block-oleti-section.margin-bottom-large {
	margin-bottom: 75px;
}

/* -- Extra Large Spacing
--------------------------------------------- */

.wp-block-oleti-section.padding-top-extra-large {
	padding-top: 100px;
}

.wp-block-oleti-section.padding-right-extra-large {
	padding-right: 100px;
}

.wp-block-oleti-section.padding-bottom-extra-large {
	padding-bottom: 100px;
}

.wp-block-oleti-section.padding-left-extra-large {
	padding-left: 100px;
}

.wp-block-oleti-section.margin-top-extra-large {
	margin-top: 100px;
}

.wp-block-oleti-section.margin-bottom-extra-large {
	margin-bottom: 100px;
}

/* -- Background Overlay
--------------------------------------------- */

.section-background-image__toggle {
	box-shadow: inset 0 0 0 1px #007cba;
	outline: 1px solid transparent;
	white-space: nowrap;
	color: #007cba;
	background: transparent;
	display: block;
	width: 100%;
}

.wp-block-oleti-section {
	transition: 0.2s ease-out;
	transition-property: margin, padding;
	position: relative;
	background-size: cover;
	background-position: 50%;
}

.wp-block-oleti-section.has-parallax {
	background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling:touch) {

	.wp-block-oleti-section.has-parallax {
		background-attachment: scroll;
	}

}

@media (prefers-reduced-motion: reduce) {

	.wp-block-oleti-section.has-parallax {
		background-attachment: scroll;
	}

}

.wp-block-oleti-section.has-background-overlay::before {
	content: "";
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	z-index: 1;
}

.wp-block-oleti-section.has-background-overlay-10::before {
	opacity: 0.1;
}

.wp-block-oleti-section.has-background-overlay-20::before {
	opacity: 0.2;
}

.wp-block-oleti-section.has-background-overlay-30::before {
	opacity: 0.3;
}

.wp-block-oleti-section.has-background-overlay-40::before {
	opacity: 0.4;
}

.wp-block-oleti-section.has-background-overlay-50::before {
	opacity: 0.5;
}

.wp-block-oleti-section.has-background-overlay-60::before {
	opacity: 0.6;
}

.wp-block-oleti-section.has-background-overlay-70::before {
	opacity: 0.7;
}

.wp-block-oleti-section.has-background-overlay-80::before {
	opacity: 0.8;
}

.wp-block-oleti-section.has-background-overlay-90::before {
	opacity: 0.9;
}

.wp-block-oleti-section.has-background-overlay-100::before {
	opacity: 1;
}


.wp-block-oleti-section::after {
	display: block;
	content: "";
	font-size: 0;
	min-height: inherit;
}

@supports ((position: -webkit-sticky) or (position:sticky)) {

	.wp-block-oleti-section::after {
		content: none;
	}

}

.wp-block-oleti-section .wp-block-oleti-section__inner-container {
	width: calc(100% - 0);
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

.wp-block-oleti-section__video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
}
